<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.medscan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.MedScan"
        tools:replace="android:supportsRtl">
        <activity
            android:name=".eyes.eyes_menu"
            android:exported="true" />
        <activity
            android:name=".kidneys.kidney_failed_advice"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kidneys.kidney_failed"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kidneys.kidney_successful_advice"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kidneys.kidney_successful"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".skin.melanocytic_nevi_info"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".skin.melanoma_info"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".skin.dermatofibroma_info"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".skin.seborrheic_keratosis_info"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".skin.intraepithelial_carcinoma_info"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".skin.basal_cell_carcinoma_info"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".skin.actinic_keratosis_info"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".skin.seborrheic_keratosis_advice"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".skin.melanoma_advice"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".skin.melanocytic_nevi_advice"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".skin.intraepithelial_carcinoma_advice"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".skin.dermatofibroma_advice"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".skin.basal_cell_carcinoma_advice"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".skin.actinic_keratosis_advice"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".skin.successful_skin_advice"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".skin.successful_skin"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".skin.melanocytic_nevi"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".skin.melanoma"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".skin.dermatofibroma"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".skin.seborrheic_keratosis"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".skin.basal_cell_carcinoma"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".skin.intraepithelial_carcinoma"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".skin.actinic_keratosis"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".skin.skin_menu"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chat.chat_activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chat.chat_home"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chat.chat_user"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lungs.successful_advice"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lungs.failed_advice"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lungs.covid_advice"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kidney_report"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menu_doctors"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".eyes.eyes_doc6"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".eyes.eyes_doc5"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".eyes.eyes_doc4"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".eyes.eyes_doc3"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".eyes.eyes_doc2"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".eyes.eyes_doc1"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".skin.skin_doc6"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".skin.skin_doc5"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".skin.skin_doc4"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".skin.skin_doc3"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lungs.covid"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".skin_upload"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".skin.skin_hospitals"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".skin.skin_doctors"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".skin.skin_doc2"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".skin.skin_doc1"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lungs.lung_hospitals"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".lungs.lung_doctors"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lungs.lung_doc6"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lungs.lung_doc5"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lungs.lung_doc4"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lungs.lung_doc3"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lungs.lung_doc2"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lungs.lung_doc1"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".eyes.eyes_hospitals"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".eyes.eyes_doctors"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".eyes_image"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kidney_upload"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menu.header"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menu.best_doctors"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".choose_field"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lungs.successful"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lungs.failed"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kidneys.shared_doc6"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kidneys.hospital"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name=".kidneys.shared_doc5"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kidneys.shared_doc4"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kidneys.shared_doc3"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kidneys.shared_doc2"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kidneys.shared_doc1"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kidneys.doctors"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetailsDoctor"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menu.Feedback"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.FacebookAuth"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.GoogleAuth"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.RegisterActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.Login"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menu.SuccessResetPass"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Welcome"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menu.ForgetPassword"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menu.PatientEdit"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.TwitterAuth"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RayUploaded"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menu.Instruction"
            android:exported="true"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>